services:
  api:
    build:
      context: ./docker/api
    container_name: pdg-api
    ports:
      - "8080:80"
    working_dir: /var/www/html
    volumes:
      - ./api/laravel:/var/www/html
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: pg-api
    environment:
      POSTGRES_DB: pdg_dash
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pdg_dash"]
      interval: 5s
      timeout: 5s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
